<h1>{{ title }}</h1>
<img [src]="logoSrc" height="300px">
<div>
  <label for="">Hány számlálót szeretnél?</label><br>
  <input type="number" name="" id="" [(ngModel)]="counterCount" (ngModelChange)="counterCountChanged()">
  {{ counterCount }}
</div>
<app-counter *ngFor="let counter of counters "
  [aim]="counter.aim"
  [counter]="counter"
></app-counter>

<!--
<app-counter 
  *ngIf="!isCompleted"
  [aim]="aim" 
  [counter]="counter" 
  (countChange)="countChanged($event)">
</app-counter>

<app-counter
  [aim]="3" 
  [counter]="{name: 'Fűnyírás', id: 3}"> 
</app-counter>
-->